/* Gerais */
*{
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
    text-decoration: none;
}
html{
    font-size: 18px;
}
body{
    background-color: #e2e2e2;
}
h1,h2,h3,h4,h5,h6{
    line-height: unset;
    font-family: "Roboto Mono", sans-serif;
}
.container{
    padding: 2.5rem 0px;
}
p,li{
    font-size: 1rem;
    margin-bottom: 1rem;
}
a{
    text-decoration: none;
    color:#fff;
}
a:hover{
    color: #ffbdca;
}
li{
    list-style: none;
}
.btn{
    border: solid;
    background-color: #7B23E7;
    color: #fff!important;
    border-color: #280468;
}
.btn:hover{
    border: solid;
    background-color: #280468;
    border-color: #7B23E7;
    color: #fff!important;
}

/* NAVBAR */
#navbar {
    background-color: #280468;
    box-shadow: 0px 0px 30px 5px #7B23E7;
}
#navbar a {
    color: #fff;
}
#navbar a:hover {
    color: #7B23E7;
}
#navbar .container{
    padding: 0;
    justify-content: space-around;
}
.navbar-brand {
    display: flex;
    align-items: center;
    font-family: "Roboto Mono", sans-serif;
}
.navbar-brand img {
    width: 80px;
}
.navbar-brand span {
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 0.5em;
    color: #fff;
}
#navbar-items .navbar-nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
#navbar-items .nav-item {
    margin: 0 1em;
}
.navbar-toggler{
    margin-right: 4px;
}

/* Masthead */
#masthead {
    height: 100vh;
}
#masthead .fixed-img {
    background-image: url('/static/imagens/fundo.jpg'); 
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
}
#masthead .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}
#masthead h1 {
    font-size: 4em;
}
#masthead p {
    font-size: 1.2em;
    width: 100%;
}

/* Destaques */
#destaques{
    background-color: #e2e2e2;
}
#destaques img{
    width: 100%;
}
#destaques .card{
    background-color: #280468;
    padding: 3%;
}
#destaques .card .card-title{
    color: #ffbdca;
}
#destaques .card .description{
    color: #fff;
    text-align: center;
}

/* Sobre */
#sobre .fixed-img {
    padding: 0%;
    background-image: url("/static/imagens/fundo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
#sobre p {
    font-size: 100%;
    margin: 0;
}
#sobre h2{
    color: #ffbdca;
}
#sobre-text{
    text-align: center;
    color: #fff;
}

/* Video */
#video{
    margin-top: 2%;
}
#video h2{
    color: #280468;
    text-align: center;
}
#video p{
    text-align: center;
}
.video-player{
    display: flex;
    justify-content: center;
}

/* Contato */
section.contato{
    background-color: #280468;
    margin: 2% 0 0;
    color: #ffffff;
}
section.contato p{
    font-size: 18px;    
    text-align: center;
}
section.contato h2{
    text-align: center;
    color: #ffbdca;
}

/* CTA */
section.cta p{
    color: #280468;
    font-size: 1.2rem;
}
.content-cta{
    text-align: center;
}
.content-cta p{
    margin: 0%;
}
#bnt-cta{
    margin-left: 2%;
}

/* Footer */
footer{
    background-color: #280468;
}
footer img{
    width: 200px;
}
footer h3{
    color: #ffbdca;
}
footer p{
    color: #fff;
}
#footer-bottom{
    background: linear-gradient(#7B23E7, #280468);
}
#footer-bottom p{
    color: #fff;
    text-align: center;
    margin: 1% 0;
}
